<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>
<p><strong>Programming Languages :</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">C , C++ , Python, GNU Make</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>SoC/Chipsets:</strong></p>
</td>
<td>
<p><span style="font-weight: 400;"> OMAP4(TI), Qcom (APQ8064/8084/8096),Freescale (i.MX6Q, i.MX8MM)&nbsp;</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>Interfaces</strong></p>
</td>
<td>
<p><span style="font-weight: 400;"> SPI,&nbsp; I2C, USART, USB, Android HAL Layer, DSI, CSI</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>Protocols</strong></p>
</td>
<td>
<p><span style="font-weight: 400;"> I2C,&nbsp; SPI, RTP,&nbsp; RTSP, MPEG2TS, H.323, SIP, H.225, G711</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>Communication Interface</strong></p>
</td>
<td>
<p><span style="font-weight: 400;"> WIFI, BT, PCIe,</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>Operating Systems</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">Android, Linux</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>Debugging Tools</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">Crash,&nbsp; GDB, Lauterbach Trace32 debugger, adb, DDMS, ANR, Gstreamer, Stagefright</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>Version Control Tools</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">GIT, SVN, CVS</span></p>
</td>
</tr>
</tbody>
</table>
